---
interface item {
  platform: string
  icon: string
  color?: string
  link?: string
  text: string
  api?: string
  count?: number
}

const stats: item[] = [
  {
    platform: 'Mail',
    icon: 'social.svg#mingcute-mail-line',
    link: 'mailto:anushka@nookie.dev',
    text: 'followers',
    color: '#f3efe8',
    api: 'github/cworld1'
  }, {
    platform: 'GitHub',
    icon: 'social.svg#mingcute-github-line',
    link: 'https://github.com/anushkamds',
    text: 'followers',
    api: 'github/cworld1'
  },
  {
    platform: 'Linkedin',
    icon: 'social.svg#linkedin',
    color: '#2ca5e0',
    link: 'https://www.linkedin.com/in/anushkamahesh',
    text: 'subscribers',
    api: 'telegram/cworld0_cn'
  },
  {
    platform: 'Resume',
    icon: 'social.svg#resume',
    color: '#11ab60',
    link: '/cv/Anushka_Mahesh-Fullstack_Engineer-Aug_2024.pdf',
    text: 'fans',
    // api: 'coolapk/1384771',
    count: 6393
  },
]

// async function fetchCount(item: item) {
//   if (!item.api) return
//   const response = await fetch(`https://api.swo.moe/stats/${item.api}`)
//   const data = await response.json()
//   if (data.failed) {
//     console.error(data.message)
//   } else {
//     item.count = data.count
//   }
// }

// for (let item of stats) {
//   await fetchCount(item)
// }
---

<div class='grid grid-cols-1 gap-3 rounded-xl border p-2 sm:grid-cols-2 sm:p-3'>
  {
    stats.map(({ link, platform, icon, color }) => (
      <a
        class='group text-muted-foreground no-underline'
        href={link}
        target='_blank'
        rel='noopener noreferrer'
      >
        <div class='flex items-center gap-3 rounded-lg border border-transparent px-3 py-2 transition-all hover:border-border hover:bg-muted '>
          {icon && (
            <svg
              class='size-6'
              style={{ color: color ? color : 'hsl(var(--foreground) / var(--tw-text-opacity))' }}
            >
              <use href={`/icons/${icon}`} />
            </svg>
          )}
          <div class='flex-1 text-foreground transition-colors group-hover:text-primary'>
            {platform}
          </div>
          <!-- {count ? (
            <div class='flex items-center gap-1.5'>
              <samp>{count}</samp>
              <span class='text-sm font-normal'>{text}</span>
            </div>
          ) : (
            'null'
          )} -->
        </div>
      </a>
    ))
  }
</div>
